<%- layout('./layouts/boilerPlate.ejs') %>
<link rel="stylesheet" href="./css/studentData.css">
<div id="wrapper">
    <h2 class="heading">STUDENT LIST</h2>
    <div class="attendance-list">
        <div class="student-entries">
            <% students.forEach((student, index) => { %>
                <div class="student-entry">
                    <div class="serial-number"><%= index + 1 %></div>
                    <div class="student-details">
                        <p><strong>Name:</strong> <span class="student-name"><%= student.name %></span></p>
                        <p><strong>Enrollment:</strong> <span class="student-enrollment"><%= student.enrollmentNo %></span></p>
                        <p><strong>Branch:</strong> <span class="student-branch"><%= student.branch %></span></p>
                    </div>
                    <div class="image-container">
                        <img src="/uploads/<%= student.image %>" alt="Student Image" class="student-image">
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</div>
